body {
    background-color: #F4F9E9;
    font-family: cursive;
}

.settings-page {
    min-height: 100vh;
    margin-top: 100px;
  }
  
  .settings-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 15px;
    background-color: #c7efb6;
    margin-top: 50px;
  }
  
  .settings-fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .settings-legend {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .settings-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.settings-input-row {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.settings-label {
    font-size: 20px;
    margin-bottom: 10px;
}

.settings-text {
    font-size: 20px;
    margin-bottom: 0;
}
  
  .settings-text {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #0c4f0b;
  }

  .select {
    appearance: none;
    background-color:#a8ce97;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    padding: 10px 20px;
    width: 25%;
    max-width: 300px;
    cursor: pointer;
    margin-left: 50px;
    font-family: cursive;
    font-size: 20px;
  }
  
  .select:focus {
    outline: none;
    border-color: #80ba68;
  }

  .btn1 {
    color: #80ba68; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: bold; 
    padding: 10px 20px; 
    background-color: #ffffff;
    border: 2px solid #80ba68;
    border-radius: 5px; 
    transition: all 0.3s ease;
    align-content: center;
  }
  
 .btn1:hover {
    background-color: #80ba68; 
    color: #ffffff; 
  }

  .button-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 25%;
        margin-left: 550px;
        margin-top: 30px;
  }
  
  
  
  @media (max-width: 600px) {
    .settings-container {
      padding: 10px;
      margin-top: 50px;
    }
    
    .settings-legend {
      font-size: 24px;
    }
    
    .settings-label {
      font-size: 16px;
    }
    
    .settings-text {
      font-size: 16px;
      color: #0c4f0b; /* Added */
    }
  }

  